profile:
  env: "dev"

synp:
  # WebSocket 配置
  websocket:
    host: "0.0.0.0"
    port: 17001
    compression:
      enabled: true
      # 服务端压缩时使用的滑动窗口大小 取值范围: 8-15 = 2^8 - 2^15 = 256B - 32KB
      server_max_window_bits: 15
      server_no_context_takeover: false
      # 客户端压缩时使用的滑动窗口大小 取值范围: 8-15 = 2^8 - 2^15 = 256B - 32KB
      client_max_window_bits: 15
      client_no_context_takeover: false
      level: 6

  # 编解码器配置 ( json / proto )
  codec:
    type: "json"

  # 连接配置
  conn:
    # 连接生命周期处理器配置
    handler:
      cache_request_timeout: 10s
      cache_expiration: 10s

    # 连接管理器配置
    manager:
      read_timeout: 15s
      write_timeout: 10s
      init_retry_interval: 1s
      max_retry_interval: 5s
      max_retry_count: 3
      send_buffer_size: 256
      receive_buffer_size: 256
      close_timeout: 1s

  # 网关事件消费者配置
  gateway:
    consumer:
      # downstream 消息消费者
      event_message_downstream:
        topic: "event.message.downstream"
        group_id: "synp-gateway-downstream"
        partitions: 6

# Redis 配置
redis:
  addr: 192.168.3.3:6379
  password: "<passwd>"

# Kafka 配置
# 使用 SASL/SCRAM-SHA-256 + TLS 认证
kafka:
  # Kafka Broker
  brokers:
    - "172.19.208.1:19093"
    - "172.19.208.1:29093"
    - "172.19.208.1:39093"

  # Producer 配置
  producer:
    required_acks: -1            # all
    compression: "snappy"        # 使用 snappy 压缩
    max_message_bytes: 1024000   # 最大消息大小 1024000字节 = 1MB
    retry_max: 3                 # 最大重试次数 3
    batch_size: 100              # 批量大小 100
    batch_timeout: 10ms          # 批量超时 10ms
    write_timeout: 10s           # 写入超时 10s
    idempotent_enabled: true     # 启用幂等性

  # Consumer 配置
  consumer:
    read_timeout: 10s            # 读取超时 10s
    commit_interval: 1s          # 每秒提交一次
    start_offset: -1             # 从最新消息开始（kafka.LastOffset）
    min_bytes: 1                 # 最小 1 字节
    max_bytes: 10e6              # 最大 10MB
    max_wait: 500ms              # 最大等待 500ms

  # TLS 配置
  tls:
    # CA 证书文件路径（必需）
    ca_file: |
      -----BEGIN CERTIFICATE-----
      MIIDqTCCApGgAwIBAgIUPF/KxKKzZ4JeHrzi8NS6Ue613lgwDQYJKoZIhvcNAQEL
      BQAwZDERMA8GA1UEAwwIa2Fma2EtY2ExDjAMBgNVBAsMBUthZmthMQ4wDAYDVQQK
      DAVLYWZrYTEQMA4GA1UEBwwHQmVpamluZzEQMA4GA1UECAwHQmVpamluZzELMAkG
      A1UEBhMCQ04wHhcNMjUxMjEwMTQ1NDM2WhcNMzUxMjA4MTQ1NDM2WjBkMREwDwYD
      VQQDDAhrYWZrYS1jYTEOMAwGA1UECwwFS2Fma2ExDjAMBgNVBAoMBUthZmthMRAw
      DgYDVQQHDAdCZWlqaW5nMRAwDgYDVQQIDAdCZWlqaW5nMQswCQYDVQQGEwJDTjCC
      ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ434r1ZqU9zaatX/IZXJkin
      Rs3oGlE2z2/Kg1yVF7L6ljzu5jzkW17YX2vvZbjG3/PwtwnDD03h7vl9Gysecavs
      TsMIHd+Xx3B0sXqtVyIpQrbnxQRHmVO6erNh5QQXYP7HSI5dRRctCfLUYAfq8xh3
      hjlMAGcueyRP3+qxd1E47/+v7hgZks5ru1+Sc7i5LKAgl8LY3YUQwf5Z9DEhd8OB
      dOdCleFuOwVIHi7c08j0BP6MeWI0uA44t1CWkCL0TPg00tnUyroQGhJ5Y7FP/q3M
      s21xYh4ke/oQfT9FTs11PHwNWdMm0WSrE7MlxSS/LvVutbOobGFdcENTyA0UzgsC
      AwEAAaNTMFEwHQYDVR0OBBYEFLhhsWiRDVxeWuh+DqqeZBGEUaEQMB8GA1UdIwQY
      MBaAFLhhsWiRDVxeWuh+DqqeZBGEUaEQMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZI
      hvcNAQELBQADggEBAB2w3yeCsyflzXC4QuJFnf37D2RgmXtHqMeOlbhBrAne9d5t
      q2d+eEdYHF/+JG456QC0kGnMptWidFVc8Z0lJdyTdYZTWxwjh5uSvkerVFAASzvc
      0hmKyXG47GsXVNTYWpcddrne05YKw/mofE8ZpB5eX63ooIQxoVP6JzaXpW52mHXe
      5bfGJuK/p33jf7n0yTOQtLOCG2Z3u2DdlK08NPQEpfm9fXoCkiAoeurVQ0TBnOME
      0AUdUnfa72a8X+U7UR/nVSFN/u3WmIg4VxGnSS7G6OOA2JGpzchw+15hMdfqiDSG
      8QGG3ZuiTumyXbGW1Uo3KlJceGle1VNSFQCU0Ag=
      -----END CERTIFICATE-----

  # SASL 配置
  sasl:
    username: "synp"
    password: "synp-secret"
    # 提示：建议使用环境变量存储密码
    # password: "${KAFKA_PASSWORD}"

jwt:
  issuer: "hermet-access"
  public: |
    -----BEGIN PUBLIC KEY-----
    MCowBQYDK2VwAyEA818wiIDR2aqxvLKcyQL2qvVCYlSs2A/izQi/K109rlU=
    -----END PUBLIC KEY-----
