BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=admin

KAFKA_CLUSTER_ID=kafka-cluster-dev
KAFKA_KEY_PASSWORD=kafka-secret
KAFKA_EXTERNAL_IP=192.168.3.3

KC_URL=http://keycloak:8080

CONTROLLER_CLIENT_ID=kafka-controller
CONTROLLER_CLIENT_SECRET=ECSLpyMdNd74yC2PFZJt5kVTMxTA3MIX

BROKER_CLIENT_ID=kafka-broker
BROKER_CLIENT_SECRET=xvcDmZBhzxdYimRy6yHKMpHtzfFfqkV2

UI_CLIENT_ID=kafka-ui
UI_CLIENT_SECRET=UKIwlTwwoQodl3GvmFYq0LDEZmsg7ZlT
